body {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: auto;
  max-width: 1440px;
  font-size: 1.5em;

  background-color: cornsilk;
}

.words-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#word-user {
  background-color: lightgreen;
  text-align: center;
  font-size: 1.5em;
  width: 500px;
  &:disabled {
    background-color: grey;
  }
  &::placeholder {
    color: white;
  }
}

.scoreboard-table {
  margin-top: 150px;
  border: 1px solid black;
  table {
    border-collapse: collapse;
  }
  caption {
    margin: 10px;
    font-weight: bolder;
    font-size: larger;
  }
  tr,
  thead,
  tbody,
  th,
  td {
    border: 1px solid black;
  }
  th {
    padding: 10px;
  }
}

#replay {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 50px;
}
